@import "./Components/Navbar/navbar";
@import "./Components/SearchContent/search-content";
@import "./Components/UserRepo/user-repo";
@import "./Components/Loader/loader";
@import "./Components/UserHistory/user-history";

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body {
     text-decoration: none;
     background-color: #f5f5f5;
     font-family: "Roboto";
}

.page {
     height: calc(100vh - 80px);
     overflow-y: auto;
     &::-webkit-scrollbar {
          width: 4px;
     }
     &::-webkit-scrollbar-track {
          border-radius: 10px;
     }
     &::-webkit-scrollbar-thumb {
          background: #0086ff;
          border-radius: 10px;
     }
}

.not-found {
     width: 100%;
     text-align: center;
     margin-top: 24px;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
}

// React toastify style
.Toastify__toast-container--top-right {
     top: 50px !important;
}

.Toastify__toast--success {
     background-color: #07bc0c !important;
}
.Toastify__toast--warning {
     background-color: #f1c40f !important;
}
.Toastify__toast--error {
     background-color: #eb5757 !important;
}

.Toastify__toast-icon {
     svg {
          fill: white;
     }
}

.Toastify__close-button {
     opacity: 1 !important;
     color: white !important;
     outline: none !important;
}

.my-alert {
     display: flex;
     align-items: center;
     color: white;
}
